[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
expects = "*"
testfixtures = "*"
cookiecutter = "*"
mamba = "*"
pytest-cookies = "*"
flake8 = "*"
setuptools-scm = "*"

[packages]


[requires]
python_version = "3.8"
